@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background: linear-gradient(120deg, white 60%, black 40%);
}
.transparent-bg {
  background-color: rgba(255, 255, 255, 0.5); /* White color with 50% opacity */
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(24, 116, 80, 0.1)); /* Subtle gradient */
}
.ma1{
  /* background: linear-gradient(120deg, rgb(226, 149, 188) , rgb(187, 89, 190) ,rgb(0,0,0)); */
  background:  linear-gradient(13deg, rgb(65, 63, 63) 25%, rgba(43,16,71,0.8099614845938375) 42%, rgba(102,0,86,1) 97%);
}
.fa1{
  background: linear-gradient(53deg, #db9494, #eba2a2, #d9a3a2, #c59898, #d2bebd, #c9b2b2, #a79494);
}

.inp{
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 2px solid #999;
  color: #333;
  font-size: 16px;
  padding: 10px 0;
}
.sub,.sub1{
  width: 120px;
  height: 35px;
  margin-top: 40px;
  background: rgb(114, 27, 196);
  color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
  display: block;

}
.sub1{
  background: rgb(38, 112, 106);
}
.sub1:hover{
  background-color: #429c6b;
}
.sub:hover{
  background-color:#651e91;
}
h{
  color: #72dab0;
}

/* Define the animation */




.Grp > div {
  padding: 10px;
}

.s > div {
  margin: 0px 20px 0px 20px;
}
.m1{
background: linear-gradient(144deg, rgba(52,45,92,1) 10%, rgba(49,87,108,1) 47%, rgba(38,93,82,1) 93%);
}
.back{
  background-color: #f8f4f4;
}
.b1{
  /* background-color: #0ad1c8; */
  background: linear-gradient(342deg, rgba(238,174,202,1) 0%, rgba(200,102,155,1) 79%, rgba(222,86,160,1) 100%);
  border-radius: 0% 0% 130px 260px;
}
.b2{
  /* background-color: #dfdddd; */
  background: linear-gradient(to bottom, #34a0a4 0%, #34a0a4 50%, #34a0a4 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
  margin-top: -20%;
  border-radius: 30px;
}
.que{
  text-align: center;
  font-size: x-large;
  color: #161515;
  
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.op1 , .next{
  background-color: #fff;

  margin-top: 15px;
  border-radius: 10px;
  height:50px;
  margin-left: 80px;
  width: 80%;
  cursor: pointer;
  font-size: 35px;
  color: #f4f5f0;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;

}
.next{
  width: 200px;
  height: 60px;
  text-align: center;
  margin-left: 0;
  color: #111111;
  background-color: #d6b521;
}
.next:hover{
  background-color: #14a03e;
}
.ra1{
  height: 20px;
  width: 20px;
  font-size: 10px;
  margin-left: 10%;
  color: #000;
}
.du{
  font-size: 30px;
  font-weight:bold;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  margin-left: 70%;
  margin-top: 40px;
}
.but{
  font-size: 20px;
  background-color: rgb(247, 247, 49);
  
color: #1f1c1c;

}
.but:hover{
  background-color: #19b448;
}
.dash{
  background-color: #416d6d;
}
.dash:hover{
  background-color: #577e7e;
}
.act1{
  background-image: url('./assets/act1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.act2{
  /* background-color: #43898a; */
  background-color:white;
}